<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Track Finder DJ</title>   
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
        body { font-family: sans-serif; margin: 2em; }
        nav { margin-bottom: 2em; }
        .genres-list { list-style: none; padding-left: 0; }
        .main-genre { font-weight: bold; }
        .sub-genre { margin-left: 2em; }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('main.list_songs') }}">Canciones</a> |
        <a href="{{ url_for('main.list_genres') }}">Gestionar Géneros</a>
        <a href="{{ url_for('main.list_moods') }}">Gestionar Moods</a>
        <a href="{{ url_for('main.list_artist') }}">Gestionar Artistas</a>
    </nav>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>